# Server
SERVER_PORT=8086
SERVER_GRPC_PORT=50056
MODE=debug

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=qb_accounting
DB_SSL_MODE=disable

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=password
REDIS_DB=0

# ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_DATABASE=qb_accounting

# Logger
LOG_BUFFER_SIZE=1000
LOG_FLUSH_INTERVAL=5s
SERVICE_NAME=qb-accounting
SERVICE_VERSION=1.0.0
ENVIRONMENT=debug

# gRPC Services
GRPC_SETUP_SERVICE_ADDR=localhost:50054
GRPC_SETUP_CONNECT_TIMEOUT=5s
GRPC_SETUP_REQUEST_TIMEOUT=10s
GRPC_SETUP_ENABLED=true

GRPC_EMPLOYEE_SERVICE_ADDR=localhost:50053
GRPC_EMPLOYEE_CONNECT_TIMEOUT=5s
GRPC_EMPLOYEE_REQUEST_TIMEOUT=10s
GRPC_EMPLOYEE_ENABLED=true

GRPC_NOTIFICATION_SERVICE_ADDR=localhost:50057
GRPC_NOTIFICATION_CONNECT_TIMEOUT=5s
GRPC_NOTIFICATION_REQUEST_TIMEOUT=10s
GRPC_NOTIFICATION_ENABLED=true

GRPC_CATALOGUE_SERVICE_ADDR=localhost:50053
GRPC_CATALOGUE_CONNECT_TIMEOUT=5s
GRPC_CATALOGUE_REQUEST_TIMEOUT=10s
GRPC_CATALOGUE_ENABLED=true
